.liref {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/header.jpg), fixed;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

.liref li {
    float: left;
}

.liref li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.liref li a:hover {
    color: yellow;
    cursor: pointer;
}

.log {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown {
    display: block;
    height: 50px;
    border: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin:0px;
    padding: 0px 20px;
}

.dropdown:hover {
    color: yellow;
}

.dropdown img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid red;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: black;
    color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-link {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.logout_btn {
    display: block;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
    margin:0px;
    padding: 12px 16px;
    width: 100%;
}

.logout_btn:hover {
    cursor: pointer;
    color: yellow;
}