.liref {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/header.jpg), fixed;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

.liref li {
    float: left;
}

.liref li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.liref li a:hover {
    color: yellow;
    cursor: pointer;
}

.log {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.log_btn {
    display: block;
    height: 50px;
    border: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin:0px;
    padding:16px;
}

.log_btn:hover {
    cursor: pointer;
    color: yellow;
}
