.post {
    overflow: auto;
}

.user-block {
    float: left;
    width: 15%;
    color: white;
    padding: 10px;
    font-family: Arial, "Times New Roman";
    overflow: hidden;
    overflow-wrap: break-word;
 }

.comment-block {
    float: left;
    width: 85%;
    color: white;
    padding: 20px;
    border-left: 1px solid white;
    font-family: Arial, "Times New Roman";
    overflow-wrap: break-word;
    position: relative;
}

.comment-text {
    white-space: pre-wrap;
    margin-bottom: 40px;
}

.user-main-info {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.user-add-info {
    font-size: 14px;
}

.avatar {
    width: 100%;
    object-fit: cover;
    margin: 10px 0px;
}

.post br {
    clear: left;
}

.post hr {
    clear: left;
    border-top: 1px dotted gray;
}