.nickname {
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
    display: inline-block;
}

.user-name {
    color: #c7c700;
}

.user-name:hover {
    color: yellow;
    text-shadow: 0px 0px 4px yellow;
}

.admin-name {
    color: #ca4000;
}

.admin-name:hover {
    color: red;
    text-shadow: 0px 0px 4px red;
}