<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
    <link rel="stylesheet" th:href="@{/css/controls.css}">
    <link rel="stylesheet" th:href="@{/css/userRole.css}">
    <link rel="stylesheet" th:href="@{/css/pages.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/createTopic.js}"></script>
    <script th:src="@{/js/formatText.js}"></script>
    <script th:src="@{/js/drawPages.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body th:style="${'background-image:url(/images/forumBack.jpg); background-attachment: fixed;'}">

<ul class="liref">
    <li><a href="/">Forum</a></li>

    <div class="log">
        <li sec:authorize="!isAuthenticated()"><a href="/login">Sign in</a></li>

        <li sec:authorize="isAuthenticated()">
            <button class="dropdown">
                <img th:if="${userImg != ''}" th:src="${userImg}" alt="avatar" />
                <img th:unless="${userImg != ''}" src="/images/baseAva.png" alt="avatar" />
                <i class="fa fa-caret-down"></i>

                <form class="dropdown-content" method="post" th:action="@{/logout}">
                    <a class="dropdown-link" th:href="@{/profile/{username}(username=${#authentication.getName()})}">Profile</a>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input class="logout_btn" type="submit" value="Logout">
                </form>
            </button>
        </li>
    </div>
</ul>

<section class="main_frame">
    <div class="topic_body">
        <h3 class="title">Forum</h3>
        <hr>

        <div class="create-topic" sec:authorize="hasRole('ADMIN')">
            <form method="post" th:object="${newSection}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                <h4>Create section </h4>
                <textarea class="create-topic-input" rows="1" th:field="*{name}" placeholder="What is a general theme?"></textarea>
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                <div class="hor-center">
                    <button class="btn-dis create-btn" id="create-btn">Create</button>
                </div>
            </form>
        </div>
        <hr sec:authorize="hasRole('ADMIN')">

        <div class="noContent" th:if="${#lists.isEmpty(sections)}">No content</div>

        <div th:id="'item' + ${section.id}" th:each="section: ${sections}">
            <div class="link-block">
                <a class="topic-link" th:href="@{/section/{id}(id=${section.id})}" th:text="${section.name}"></a>
                <br>

                <div th:if="${section.sum.totalComments > 0}" class="last-comment">
                    Last comment in
                    <a class="last-comment-link check-length" th:href="@{/topic/{id}(id=${section.sum.lastPostTopicId})}" th:text="${section.sum.lastPostTopicName}"></a>
                    from
                    <a class="nickname user-name" th:if="${section.sum.lastPostUserrole == 'ROLE_USER'}" th:href="@{/profile/{name}(name=${section.sum.lastPostUsername})}" th:text="${section.sum.lastPostUsername}"></a>
                    <a class="nickname admin-name" th:if="${section.sum.lastPostUserrole == 'ROLE_ADMIN'}" th:href="@{/profile/{name}(name=${section.sum.lastPostUsername})}" th:text="${section.sum.lastPostUsername}"></a>
                </div>
            </div>

            <div class="sum-block">
                total topics:
                <span th:text="${section.sum.totalTopics}"></span>
                <br>
                total comments:
                <span th:text="${section.sum.totalComments}"></span>
                <br>
                <button th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="btn topic-menu-btn" th:onclick="'removeItem(\'section\', ' + ${section.id} + ')'">Remove</button>
            </div>
            <br class="sec-br">
            <hr class="sec-hr">
        </div>

        <br>
        <footer class="pages" id="pages" ></footer>
        <script th:inline="javascript">
            let cur = /*[[${currentPage}]]*/ 0;
            let count = /*[[${pageCount}]]*/ 0;
            drawPages(cur, count, "/");
        </script>
    </div>
</section>

<script>
    formatText();
</script>
</body>
</html>