<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/controls.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/changeAvatar.js}"></script>

    <meta sec:authorize="isAuthenticated()" http-equiv="refresh" content="0;url=/" />
</head>
<body th:style="${'background-image:url(/images/forumBack.jpg); background-attachment: fixed;'}">

<ul class="liref">
    <li><a href="/">Forum</a></li>
    <li>
        <form class="search-table" action="/search" method="get">
            <input class="search" type="text" name="name" th:value="${name}" placeholder="search">
            <button class="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </li>

    <div class="log">
        <li sec:authorize="!isAuthenticated()"><a href="/login">Sign in</a></li>
    </div>
</ul>

<section class="main_frame">
    <div class="reg_form_body">

        <h3 style="font-family: Arial"><b>Register</b></h3>

        <form method="post" enctype="multipart/form-data" th:object="${user}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <h3>Login: </h3>
            <input class="text_field" type="text" th:field="*{username}" placeholder="Login">
            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

            <h3>Password: </h3>
            <input class="text_field" type="password" th:field="*{password}" placeholder="Password">
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

            <h3>Avatar: </h3>
            <input class="inputfile" id="avatar" type="file" accept="image/*" name="avatarImg">
            <label class="ava_cont" for="avatar">
                <img id="ava" class="avatar" src="/images/baseAva.png" alt="avatar">
            </label>
            <br>
            <span class="error" th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}"></span>

            <hr>
            <div class="btn_cont">
                <button class="btn">Sign up</button>
            </div>

        </form>
    </div>
</section>



</body>
</html>