<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
    <link rel="stylesheet" th:href="@{/css/controls.css}">
    <link rel="stylesheet" th:href="@{/css/userRole.css}">
    <link rel="stylesheet" th:href="@{/css/pages.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/createTopic.js}"></script>
    <script th:src="@{/js/drawPages.js}"></script>
    <script th:src="@{/js/formatText.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body th:style="${'background-image:url(/images/forumBack.jpg); background-attachment: fixed;'}">

<ul class="liref">
    <li><a href="/">Forum</a></li>
    <li>
        <form class="search-table" action="/search" method="get">
            <input class="search" type="text" name="name" th:value="${name}" placeholder="search">
            <button class="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </li>

    <div class="log">
        <li sec:authorize="!isAuthenticated()"><a href="/login">Sign in</a></li>

        <li sec:authorize="isAuthenticated()">
            <button class="dropdown">
                <img th:if="${userImg != ''}" th:src="${userImg}" alt="avatar" />
                <img th:unless="${userImg != ''}" src="/images/baseAva.png" alt="avatar" />
                <i class="fa fa-caret-down"></i>

                <form class="dropdown-content" method="post" th:action="@{/logout}">
                    <a class="dropdown-link" th:href="@{/profile/{username}(username=${#authentication.getName()})}">Profile</a>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input class="logout_btn" type="submit" value="Logout">
                </form>
            </button>
        </li>
    </div>
</ul>

<section class="main_frame">
    <div class="topic_body">
        <h3 class="title" th:text="${section.name}"></h3>
        <div class="prev-link-block">
            <a class="prev-link" href="/">Forum</a>
            <span> > </span>
            <span class="check-length" th:text="${section.name}"></span>
        </div>
        <hr>

        <div class="create-topic" sec:authorize="isAuthenticated()">
            <form method="post" th:object="${newTopic}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                <h4>Create topic </h4>
                <textarea class="create-topic-input" rows="1" th:field="*{name}" placeholder="What do you want to discuss?"></textarea>
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                <textarea class="create-topic-input create-comment" id="create-comment" rows="1" th:field="*{text}" placeholder="Put your comment here"></textarea>
                <span class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>

                <div class="hor-center">
                    <button class="btn-dis create-btn" id="create-btn">Create</button>
                </div>
            </form>
        </div>
        <hr sec:authorize="isAuthenticated()">

        <div class="noContent" th:if="${#lists.isEmpty(topics)}">No content</div>

        <div th:id="'item' + ${topic.id}" th:each="topic: ${topics}">
            <div class="link-block">
                <a class="topic-link" th:href="@{/topic/{id}(id=${topic.id})}" th:text="${topic.name}"></a>
                <br>

                <div th:if="${topic.sum.totalPosts > 0}" class="last-comment">
                    Last comment from
                    <a class="nickname user-name" th:if="${topic.sum.lastPostUser.role == 'ROLE_USER'}" th:href="@{/profile/{name}(name=${topic.sum.lastPostUser.username})}" th:text="${topic.sum.lastPostUser.username}"></a>
                    <a class="nickname admin-name" th:if="${topic.sum.lastPostUser.role == 'ROLE_ADMIN'}" th:href="@{/profile/{name}(name=${topic.sum.lastPostUser.username})}" th:text="${topic.sum.lastPostUser.username}"></a>
                    at
                    <span th:text="${topic.sum.lastPostComment.getDate()}"></span>
                </div>
            </div>

            <div class="sum-block">
                total comments:
                <span th:text="${topic.sum.totalPosts}"></span>
                <br>
                total views:
                <span th:text="${topic.views}"></span>
                <br>
                <button th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="btn topic-menu-btn" th:onclick="'removeItem(\'topic\', ' + ${topic.id} + ')'">Remove</button>
            </div>
            <br class="sec-br">
            <hr class="sec-hr">
        </div>

        <br>
        <footer class="pages" id="pages" ></footer>
        <script th:inline="javascript">
            let cur = /*[[${currentPage}]]*/ 0;
            let count = /*[[${pageCount}]]*/ 0;
            let url  = /*[['/section/' + ${section.id}]]*/ "";
            drawPages(cur, count, "", url);
        </script>
    </div>
</section>

<script>
    formatText();
</script>

</body>
</html>