<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/userPage.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body th:style="${'background-image:url(/images/forumBack.jpg); background-attachment: fixed;'}">

<ul class="liref">
    <li><a href="/">Main</a></li>

    <div class="log">
        <li sec:authorize="!isAuthenticated()"><a href="/login">Sign in</a></li>

        <li sec:authorize="isAuthenticated()">
            <button class="dropdown">
                <img th:if="${userImg != ''}" th:src="${userImg}" alt="avatar" />
                <img th:unless="${userImg != ''}" src="/images/baseAva.png" alt="avatar" />
                <i class="fa fa-caret-down"></i>

                <form class="dropdown-content" method="post" th:action="@{/logout}">
                    <a class="dropdown-link" th:href="@{/profile/{username}(username=${#authentication.getName()})}">Profile</a>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input class="logout_btn" type="submit" value="Logout">
                </form>
            </button>
        </li>
    </div>
</ul>

<section class="main_frame">
    <div class="user-body">

        <div class="user-ava-cont">
            <img class="user-ava" th:if="${user.getImageStr() != ''}" th:src="${user.getImageStr()}" alt="avatar" />
            <img class="user-ava" th:unless="${user.getImageStr() != ''}" src="/images/baseAva.png" alt="avatar" />
        </div>

        <h2 class="user-name-cont">
            <b th:text="${user.username}"></b>
            <div class="user-role" th:if="${user.role == 'ROLE_USER'}">user</div>
            <div class="user-role" th:if="${user.role == 'ROLE_ADMIN'}">administrator</div>
        </h2>

        <h3>Registration date:</h3>
        <div th:text="${regDate}"></div>

        <h3>Additional Information:</h3>
        <div th:if="${user.information != ''}" th:text="${user.information}"></div>
        <div th:unless="${user.information != ''}">User hasn't left any information</div>

    </div>
</section>



</body>
</html>